*{
    padding: 0;
    margin: 0;
}
.moveRight{
    float: right;
    margin-right: 5em;
    font-size: large;
    
}

.Iparent{
    background-color:rgb(182, 190, 230) ;
    padding-right: 3em;
    padding-top: 4em;
    padding-left: 3em;
    padding-bottom: 3em;
}
 /* footer */
 .fcontainer{
     text-decoration: none;
 }
 .fspace{
     margin-top: 8em;
 }
 .bgfooter{
     background-color: rgb(9, 53, 68);
 }

 /* footer */


/* login */

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(97, 17, 182), rgb(140, 180, 250));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(133, 32, 241), rgb(71, 138, 253))
  }

 /* login */


/* district page */
.myMargin{
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-top: 5em;
    margin :8ems;
    background-color: rgb(144, 153, 196);

}
/* district page */

/* Sliding */

.carousel-item{
    height: 85vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-backgrround-size:object-fit;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(32, 30, 30, 0.336);
    opacity: 0.4;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.carousel-caption h6{
    font-size: 90px;
    font-weight: 700px;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}


/* Signup page */


.bg-image {
    /* The image used */
    background-image: url('/image/ambalapuzha.jpg');
   

  
    /* Full height */
    
    height: 100vh;
    min-height: 300px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .transbox{

    margin: 30px;
    border: 1px solid black; 
   opacity: 0.8;
   /* background-color: rgba(0, 0, 0, 0.5) */
}

.form-outline label{
 font-weight: bold;
 color: #ffffff;
}

/* Signup page */

